# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.T3 Quest system.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\zFiles\5 YT\T3 Quest sys\T3 Quest system\.idea\.idea.T3 Quest system\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
